<?xml version="1.0" encoding="UTF-8"?>
<!-- 18.09.28 최지수 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.chgs8411.join.service.JoinMapper">

	<insert id="insertMember" parameterType="com.cafe24.chgs8411.join.service.Member">
		INSERT INTO member
			(healthclubs_no
				, member_id
				, member_pw
				, member_name
				, member_gender
				, member_address
				, member_phone
				, member_birthday
				, member_joindate
				, member_email
				, member_toll
				, member_weight
				, member_goal_weight
				, member_usage_status)
			VALUES (
				#{healthclubs_no}
				, #{member_id}
				, #{member_pw}
				, #{member_name}
				, #{member_gender}
				, #{member_address}
				, #{member_phone}
				, #{member_birthday}
				, NOW()
				, #{member_email}
				, #{member_toll}
				, #{member_weight}
				, #{member_goal_weight}
				, '일반'
			)
	</insert>

</mapper>