<?xml version="1.0" encoding="UTF-8"?>
<!-- 김소희 2018-09-28 / QuestionMapper.xml -->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cafe24.chgs8411.question.service.QuestionMapper">

	<!-- 질문 상세보기 -->
	<select id="selectDetailQuestion" parameterType="java.util.Map" resultType="com.cafe24.chgs8411.question.service.Question">
		SELECT question_no
			, member_no
			, trainer_no
			, question_title
			, question_content
			, question_date 
		FROM question
		WHERE question_no = #{question_no}
	</select>
	
	<!-- 질문 삭제 -->
	<delete id="deleteQuestion" parameterType="com.cafe24.chgs8411.question.service.Question">
		DELETE
		FROM
			question
		WHERE 
			question_no = #{question_no}
	</delete>
	
	<!-- 질문 수정 -->
	<update id="updateQustion" parameterType="com.cafe24.chgs8411.question.service.Question">
		UPDATE 
			question
		SET 
			question_title = #{question_title}
			, question_content = #{question_content}
		WHERE 
			question_no = #{question_no}
	</update>
	
	<!-- 질문 개수 카운트 -->
	<select id="questionCount" resultType="Integer">
		SELECT COUNT(*)
		FROM question
	</select>

	<!-- 질문 목록 -->
	<select id="selectQuestion" parameterType="java.util.Map" resultType="com.cafe24.chgs8411.question.service.Question">
		SELECT
			question_no AS question_no
			, member_no AS member_no
			, trainer_no AS trainer_no
			, question_title AS question_title
			, question_content AS question_content
			, question_date AS question_date
		FROM question
		ORDER BY question_no
		DESC
	</select>
	
	<!-- 질문 등록 -->
	<insert id="insertQuestion" parameterType="com.cafe24.chgs8411.question.service.Question">
		INSERT INTO question(
			member_no
			, trainer_no
			, question_title
			, question_content
			, question_date
		)
		VALUES (
			  #{member_no}
			, #{trainer_no}
			, #{question_title}
			, #{question_content}
			, NOW()
		)
	</insert>
</mapper>