<?xml version="1.0" encoding="UTF-8"?>
<!-- 김소희 2018-09-28 / QuestionMapper.xml -->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cafe24.chgs8411.question.service.QuestionMapper">

	<!-- 질문 상세보기 -->
	<select id="selectDetailQuestion" parameterType="java.util.Map" resultType="com.cafe24.chgs8411.question.service.Question">
		SELECT question_no
			, member_no
			, trainer_no
			, question_title
			, question_content
			, question_date 
		FROM question
		WHERE question_no = #{question_no}
	</select>
	

	<!-- 멤버 비밀번호 조회 -->
	<select id="selectMemberPasswordDelete" parameterType="int" resultType="String">
		SELECT
			member_pw
		FROM
			member
		WHERE
		 	member_no = #{member_no}
	</select>
	
	<!-- 관리자 비밀번호 조회 -->
	<select id="selectAdminPasswordDelete" parameterType="int" resultType="String">
		SELECT
 			healthclubs_admin_pw
	 	FROM
	 		healthclubs_admin
	 	WHERE
	 		healthclubs_admin_no = #{healthclubs_admin_no}
 	</select>
	
	<!-- 질문 삭제 -->
	<delete id="deleteQuestion" parameterType="int">
		DELETE
		FROM
			q, a
		USING
			question q
		INNER JOIN
			answer a
		ON
			q.question_no = a.question_no
	</delete>
										
	<!-- 질문 수정 -->
	<update id="updateQustion" parameterType="com.cafe24.chgs8411.question.service.Question">
		UPDATE 
			question
		SET 
			question_title = #{question_title}
			, question_content = #{question_content}
		WHERE 
			question_no = #{question_no}
	</update>

	
	<!-- 질문 목록 -->
	<select id="selectQuestion" parameterType="java.util.Map" resultType="com.cafe24.chgs8411.question.service.Question">
		SELECT
			question_no 
			, member_no 
			, trainer_no 
			, question_title
			, question_content 
			, question_date 
		FROM
			 question
		ORDER BY 
			question_no
		DESC
	</select>
	
	<!-- 질문 등록 -->
	<insert id="insertQuestion" parameterType="com.cafe24.chgs8411.question.service.Question">
		INSERT INTO question(
			member_no
			, trainer_no
			, question_title
			, question_content
			, question_date
		)
		VALUES (
			  #{member_no}
			, #{trainer_no}
			, #{question_title}
			, #{question_content}
			, NOW()
		)
	</insert>
</mapper>