<?xml version="1.0" encoding="UTF-8"?>
<!-- 18.09.27 최지수 -->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cafe24.chgs8411.healthclubs.service.HealthclubsMapper">

	<insert id="insertHealthclubs" parameterType="com.cafe24.chgs8411.healthclubs.service.Healthclubs">
		INSERT INTO healthclubs(
			healthclubs_name
			, healthclubs_address
			, healthclubs_representative
			, healthclubs_phone
			, healthclubs_opening_date
			, healthclubs_business_number
			, healthclubs_joindate)
		VALUES (
			#{healthclubs_name}
			, #{healthclubs_address}
			, #{healthclubs_representative}
			, #{healthclubs_phone}
			, #{healthclubs_opening_date}
			, #{healthclubs_business_number}
			, NOW()
		)
	</insert>

</mapper>